.Connect{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.connectPara1{
    font-size: 3rem;
    font-weight: 700;
}

.connectPara2{
    color: #93989B;
    font-size: 1.2rem;
}